/*
*
*  Header-Slider Button s. scss/blocks/header
*/

@mixin button($background-color, $color, $border-color) {
    border-radius: 100% !important;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    position: relative;
    line-height: 1;
    margin-bottom: 1.1em;
    margin-top: 1em;
    color: $color;
    background: $background-color !important;;
    border: 1px solid $border-color !important;;
    overflow: hidden;
    transition: all 0.3s linear;
    font-family: $base-font-family !important;;
    font-weight: 700 !important;;
    padding: 1.5rem 3rem  !important;
    &:hover,
    &:active{
        color: $color !important;
        opacity: 0.8;

    }

}





// header-btn s. header-slider.scss
.btn,

input[type="submit"],
.sib-default-btn,
button[type="submit"],
.wp-block-button .wp-block-button__link,
.is-style-btn-secondary .wp-block-button__link,
.btn-secondary {
    @include button($secondary,#ffffff, $secondary);
}

.is-style-btn-primary .wp-block-button__link,
.btn-primary {
    @include button($primary, #ffffff, $primary);
}

.ff-btn{

}


